
<%= render partial:  "products/product_details", locals: {product: @product} %>
<% if Current.user.present? && @product.user_id == Current.user.id %>
  <strong>  <%= link_to t(".edit"), edit_product_path(@product) %>  </strong>
  <%= link_to t(".delete"), product_path(@product), data:{
    turbo_method: :delete,
    # para confirmar si se decea eliminar o no este es un modal pequeño de turbo pero si no se desea
    #se puede omitir 
    turbo_confirm: t("common.confirm")
} %>
<% end %>
<%# se pasa parametro para el redireccionamiento %>
<%= link_to t(".view_more_products", username: @product.user.username), user_path(@product.user.username) %>
<%# pasamos la variable de pproducto como variable local para la actualizacion de informacion por %>
<%# el controlado de favorites ya que se le enviara un html renderizando lo que es el partial de turbo %>
<%# para ello ocupamos lo que es una variable local para identificarse tambien %>
<%= render partial: "favorite", locals: {product: @product} %>
<%# websocket para enviar los datos al controllador y actualizar el lado cliente %>
<%# <div data-controller="websocket-product" data-websocket-product-productid="<%= @product.id "></div> %>

<%# creacion de canal con una room  con turbo %>

<%= turbo_stream_from @product %>
